/* background */
.one,
.three {
  background: linear-gradient(-45deg, transparent 25%, white 25%, white 75%, transparent 75%, transparent 100%);
}

.two, 
.four {
  background: linear-gradient(45deg, transparent 25%, white 25%, white 75%, transparent 75%, transparent 100%);
  text-align: right;
}

#me {
  max-width: 270px;
  z-index: 5;
  margin-top: -70px;
}

.four .p {
  overflow: visible;
}

/* text arrangement */
body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 400;
  font-size: 40px;
  max-width: 830px;
  padding: 0 15px;
  margin: 0 auto;
  height: 60px;
  overflow: hidden;
  line-height: 1;
  z-index: 1;
  /* -webkit-transition: line-height 0.85s cubic-bezier(0.77, 0, 0.175, 1);
  transition: line-height 0.85s cubic-bezier(0.77, 0, 0.175, 1); */
}


.p {
  font-size: 20px;
  max-width: 830px;
  padding: 0 15px;
  margin: 0 auto;
  height: 200px;
  overflow: hidden;
  line-height: 2;
  /* -webkit-transition: line-height 0.85s cubic-bezier(0.77, 0, 0.175, 1);
  transition: line-height 0.85s cubic-bezier(0.77, 0, 0.175, 1); */
}

.title {
  background-color: rgba(	59, 125, 159, 1);
  /* background-color: #E9E824; */
  border-radius: 8px;

}

.title a {
  color: #E9E824;
}

ul {
  position: absolute;
  margin-top: 1em;
  z-index: 2;
  font-family: 'Balsamiq Sans', cursive;
}


/* li > a {
  color: black;
} */



/* text transition */

/* h2 {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
} */

p {
  margin-top: -6px;
  font-weight: 100;
  /* -webkit-transition-delay: .8s;
          transition-delay: .8s; */
}

/* .section.active h2 {
  line-height: 1;
}

.section.active p {
  line-height: 1.5;
} */

/* buttons */

#resumeBtn {
  font-family: 'Balsamiq Sans', cursive;
  position: absolute;
  right: 100px;
  top: 17px;
  z-index: 2;
} 

#linkedinBtn {
  position: absolute;
  right: 60px;
  top: 15px;
  z-index: 2;
} 

#githubBtn {
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 2;
} 

#resume {
  border-color: rgba(233, 232, 36, 0.3);
}

#linkedin {
  border-color: rgba(233, 232, 36, 0.3);
}

#github {
  border-color: rgba(233, 232, 36, 0.3);
}

@keyframes btnColor {
  0% {background-color: #3B859F;
       color: #E9E824;}
  50% {background-color: yellow;
        color: #3B859F}
  100% {background-color: #3B859F;
    color: #E9E824;}
}

.projectBtn {
  color: #E9E824;
  background-color: #3B859F;
  border-color: rgba(233, 232, 36, 0.3);
  /* font-family: 'Sirin Stencil', cursive; */
  font-family: 'Balsamiq Sans', cursive;
  position: absolute;
  left: 48%;
  top: 85%;
}

#projectBtn:hover {
  /* color:#3B859F;
  background-color: #E9E824; */
  /* transform: background-color 500ms linear 1s; */
  animation-name: btnColor;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* #fp-nav ul li a span,
.fp-slidesNav ul li a span
{
  background: rgba(233, 232, 36, 0.6);
} */
